ttn-trashcan/TTN-dashboard.json
[{"id":"7baf6186.444ba","type":"tab","label":"TTN dashboard","disabled":false,"info":""},{"id":"8d80d86f.47e428","type":"ttn uplink","z":"7baf6186.444ba","name":"","app":"ec026bf7.66dd18","dev_id":"","field":"","x":100,"y":260,"wires":[["35a4c496.332b2c"]]},{"id":"5eb93487.4129cc","type":"change","z":"7baf6186.444ba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.analog_out_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["a001dc9b.cc0d5"]]},{"id":"5a4b0ad6.aea724","type":"ui_gauge","z":"7baf6186.444ba","name":"","group":"81df102.f41e0f","order":0,"width":0,"height":0,"gtype":"gage","title":"Last received: {{msg.received}}","label":"cm","format":"{{value}}","min":0,"max":"25","colors":["#ca3838","#e6e600","#00b500"],"seg1":"5","seg2":"10","x":1181,"y":40,"wires":[]},{"id":"996e4f40.4ebec","type":"ui_chart","z":"7baf6186.444ba","name":"","group":"81df102.f41e0f","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1181,"y":80,"wires":[[],[]]},{"id":"933dd7bd.4be5e8","type":"switch","z":"7baf6186.444ba","name":"","property":"dev_id","propertyType":"msg","rules":[{"t":"eq","v":"uno-ttn-01","vt":"str"},{"t":"eq","v":"uno-ttn-02","vt":"str"},{"t":"eq","v":"uno-ttn-03","vt":"str"},{"t":"eq","v":"uno-ttn-04","vt":"str"},{"t":"eq","v":"uno-ttn-05","vt":"str"},{"t":"eq","v":"uno-ttn-06","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":921,"y":260,"wires":[["5a4b0ad6.aea724","996e4f40.4ebec"],["54aa5889.684e28","2290146d.fb30ac"],["8575f1e.ea9841","49d6ce3f.acadd"],["810db881.6e1438","160b6e4d.5566a2"],["300da749.db6e58","490f18ec.509658"],["3fdcd292.580bde","d510f13f.b79a8"]]},{"id":"54aa5889.684e28","type":"ui_gauge","z":"7baf6186.444ba","name":"","group":"f3a27565.7d2d08","order":0,"width":0,"height":0,"gtype":"gage","title":"Last received: {{msg.received}}","label":"cm","format":"{{value}}","min":0,"max":"25","colors":["#ca3838","#e6e600","#00b500"],"seg1":"5","seg2":"10","x":1181,"y":120,"wires":[]},{"id":"2290146d.fb30ac","type":"ui_chart","z":"7baf6186.444ba","name":"","group":"f3a27565.7d2d08","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1181,"y":160,"wires":[[],[]]},{"id":"8575f1e.ea9841","type":"ui_gauge","z":"7baf6186.444ba","name":"","group":"16ba86c2.cc5e49","order":0,"width":0,"height":0,"gtype":"gage","title":"Last received: {{msg.received}}","label":"cm","format":"{{value}}","min":0,"max":"25","colors":["#ca3838","#e6e600","#00b500"],"seg1":"5","seg2":"10","x":1181,"y":200,"wires":[]},{"id":"49d6ce3f.acadd","type":"ui_chart","z":"7baf6186.444ba","name":"","group":"16ba86c2.cc5e49","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1181,"y":240,"wires":[[],[]]},{"id":"810db881.6e1438","type":"ui_gauge","z":"7baf6186.444ba","name":"","group":"29921738.9606b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Last received: {{msg.received}}","label":"cm","format":"{{value}}","min":0,"max":"25","colors":["#ca3838","#e6e600","#00b500"],"seg1":"5","seg2":"10","x":1181,"y":280,"wires":[]},{"id":"160b6e4d.5566a2","type":"ui_chart","z":"7baf6186.444ba","name":"","group":"29921738.9606b8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1181,"y":320,"wires":[[],[]]},{"id":"300da749.db6e58","type":"ui_gauge","z":"7baf6186.444ba","name":"","group":"d98f573b.2f53d8","order":0,"width":0,"height":0,"gtype":"gage","title":"Last received: {{msg.received}}","label":"cm","format":"{{value}}","min":0,"max":"25","colors":["#ca3838","#e6e600","#00b500"],"seg1":"5","seg2":"10","x":1181,"y":360,"wires":[]},{"id":"490f18ec.509658","type":"ui_chart","z":"7baf6186.444ba","name":"","group":"d98f573b.2f53d8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1181,"y":400,"wires":[[],[]]},{"id":"3fdcd292.580bde","type":"ui_gauge","z":"7baf6186.444ba","name":"","group":"ebda4db5.e6641","order":0,"width":0,"height":0,"gtype":"gage","title":"Last received: {{msg.received}}","label":"cm","format":"{{value}}","min":0,"max":"25","colors":["#ca3838","#e6e600","#00b500"],"seg1":"5","seg2":"10","x":1181,"y":440,"wires":[]},{"id":"d510f13f.b79a8","type":"ui_chart","z":"7baf6186.444ba","name":"","group":"ebda4db5.e6641","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1181,"y":480,"wires":[[],[]]},{"id":"a001dc9b.cc0d5","type":"function","z":"7baf6186.444ba","name":"convert to integer","func":"const buffer = Buffer.from(msg.payload);\nmsg.payload = buffer.readInt8(0);\nreturn msg;","outputs":1,"noerr":0,"x":741,"y":260,"wires":[["933dd7bd.4be5e8"]]},{"id":"35a4c496.332b2c","type":"function","z":"7baf6186.444ba","name":"add timestamp","func":"msg.received = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["5eb93487.4129cc"]]},{"id":"ec026bf7.66dd18","type":"ttn app","z":"","appId":"technocite-iotlab","accessKey":"ttn-account-v2.EQQ_VIxgTGUz37_KljZfi174rO0VfVynCm7nCL3JgIw","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"81df102.f41e0f","type":"ui_group","z":"","name":"Trashcan 1","tab":"f324ee53.98fc3","disp":true,"width":"6","collapse":false},{"id":"f3a27565.7d2d08","type":"ui_group","z":"","name":"Trashcan 2","tab":"f324ee53.98fc3","disp":true,"width":"6","collapse":false},{"id":"16ba86c2.cc5e49","type":"ui_group","z":"","name":"Trashcan 3","tab":"f324ee53.98fc3","disp":true,"width":"6","collapse":false},{"id":"29921738.9606b8","type":"ui_group","z":"","name":"Trashcan 4","tab":"f324ee53.98fc3","disp":true,"width":"6","collapse":false},{"id":"d98f573b.2f53d8","type":"ui_group","z":"","name":"Trashcan 5","tab":"f324ee53.98fc3","disp":true,"width":"6","collapse":false},{"id":"ebda4db5.e6641","type":"ui_group","z":"","name":"Trashcan 6","tab":"f324ee53.98fc3","disp":true,"width":"6","collapse":false},{"id":"f324ee53.98fc3","type":"ui_tab","z":"","name":"Fab-IoT-Lab","icon":"network-wifi"}]
